{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="{% static 'js/index.js' %}"></script>
    <script defer src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Codify</title>
</head>
<body>
    <style>
        *{
            margin: 0;
            padding: 0;
        }

        body, html{
            width: 100%;
            height: 100%;
        }

        body{
            background:rgb(48, 48, 48);
        }    
    </style>
    <a style="font-size: 30px; color: white; padding: 10px 5px; background: rgb(48, 48, 48); border: 2px solid white; border-radius: 5px; text-decoration: none; margin-top: 40px; font-family: sans-serif; box-sizing: border-box;" onclick="socketDocumento(1)" >Conectar Socket</a>
</body>
</html>