{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>Codify</title>
</head>
<body>
    <!-- Barra de navegación -->
    {% block content %}
    <section id="navBar">
        <div id="logo">
            <h1 class="line anim-typewriter" style="font-size: 2em; color: rgb(240, 240, 240);">Codify( )</h1>
        </div>
        <div id="options">
            <a class="op" href="/descripcion">Descripción</a>
            <a class="op" href="/creditos">Créditos</a>
            <img src="{% static 'img/cd.png' %}" alt="" width="60" >
            <!-- <p></p> -->
        </div>
    </section>
    {% endblock %}
</body>
</html>
