<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Codify</title>

	<link rel="stylesheet" href="../Static/css/styles.css">
	<link rel="stylesheet" href="../Static/css/app.css">
	<link rel="stylesheet" href="../Static/css/foundation.css">
	<link rel="stylesheet" href="../Static/css/foundation.min.css">

	<link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Actor&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"> 

	<script defer type="text/javascript" src="../Static/js/scripts.js"></script>
	<script defer type="text/javascript" src="../Static/js/vendor/jquery.js"></script>
	<script defer type="text/javascript" src="../Static/js/vendor/foundation.js"></script>
	<script defer type="text/javascript" src="../Static/js/app.js"></script>
	<script defer type="text/javascript" src="../Static/js/vendor/foundation.min.js"></script>
	
	<script defer type="text/javascript" src="../Static/js/vendor/what-input.js"></script>
</head>
<body>
	<!-- Pantalla Sign Up & Login -->
	<section class="section1 height-100">
		<div class="row expanded height-100">
			<div class="width-100 hasFlex">
				<div class="row expanded align-center align-middle large-6">
					<!-- Logo de Codify Web & Móvil -->
					<div class="row menu large-12 align-middle align-center">
						<h1 class="line anim-typewriter" onclick="location.href='welcome.html'" style="font-size: 3.5em;">Codify( )</h1>
					</div>			
					<!-- Sign Up & Login -->
					<div class="container large-12 medium-10" id="container">
						<!-- Contenedor de Sign Up -->
						<div id="SIGNUP" class="form-container sign-up-container large-12">
							<form id="registro" action="#" class="signUpStyles">
								<h1>Sign Up</h1>
								<input type="text" placeholder="Username" />
								<input type="email" placeholder="Email" />
								<input type="password" placeholder="Password" />
								<input type="password" placeholder="Confirm Password" />
								<!-- Móvil -->
								<p class="show-for-small-only">
									Already have an account? Login <a onclick="cambiarALogin()">here</a>
								</p>
								<!-- ///////////// -->
								<button>Sign Up</button>
							</form>
						</div>
						<!-- Contenedor de Login -->
						<div id="LOGIN" class="form-container sign-in-container large-12">
							<form id="inicio" action="#" class="signInStyles">
								<h1>Login</h1>
								<input type="text" placeholder="Username"/>
								<input type="password" placeholder="Password"/>
								<!-- Móvil -->
								<p class="show-for-small-only">Don't have an account? Sign up <a onclick="cambiarASignUp()">here</a></p>
								<!-- ///////// -->
								<button>Login</button>
							</form>
						</div>
						<!-- Divs para Animación del Login & Sign Up -->
						<div class="overlay-container large-12 hide-for-small-only">
							<div class="overlay">
								<!-- Div Welcome Back! -->
								<div class="overlay-panel overlay-left welcomeBack">
									<h1>Welcome Back!</h1>
									<p>Already have an account? Login here!</p>
									<button class="ghost" id="signIn">Login</button>
								</div>
								<!-- Div Hello There! -->
								<div class="overlay-panel overlay-right helloThere">
									<h1>Hello There!</h1>
									<p>Don't have an account? Sign up here!</p>
									<button class="ghost" id="signUp">Sign Up</button>
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</div>	
	</section>
	
</body>
</html>