<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Codify</title>

	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/app.css">
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/foundation.min.css">

	<link href="https://fonts.googleapis.com/css?family=Merienda&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Actor&display=swap" rel="stylesheet"> 

	<script defer type="text/javascript" src="js/particulas.js"></script>
	<script defer type="text/javascript" src="js/particles.js"></script>

	<script defer type="text/javascript" src="js/scripts.js"></script>
	<script defer type="text/javascript" src="js/vendor/jquery.js"></script>
	<script defer type="text/javascript" src="js/vendor/foundation.js"></script>
	<script defer type="text/javascript" src="js/app.js"></script>
	<script defer type="text/javascript" src="js/vendor/foundation.min.js"></script>
	
	<script defer type="text/javascript" src="js/vendor/what-input.js"></script>

	<script defer type="text/javascript" src="js/particulas.js"></script>
	<script defer type="text/javascript" src="js/particles.js"></script>

</head>
<body>
	<div id="particles-js"></div>
	<!-- Top Bar -->
	<div class="top-bar-container altura-69">
		<div class="top-bar is-anchored altura-69 width-100" style="background-color: #100A09;">
			<div class="top-bar-right right-padding-2 hasFlex">
				<div class="menu large-12 align-middle">
					<!-- id registro -->
					<button style="font-size: 0.9em;" class="hbtn hb-fill-on" onclick="location.href='login.html'">SIGN UP</button>
					<button style="font-size: 0.9em;" class="hbtn hb-fill-on" onclick="location.href='login.html'">LOGIN</button>
				</div>				
			</div>
			
		</div>
	</div>
	
	<!-- Pantalla Sign Up & Login -->
	<section class="sectionWelcome height-topbar">
		<div class="row expanded height-100">
			<div class="width-100 hasFlex">
				<div class="row expanded align-left align-middle large-12">
					<!-- Welcome Page -->
					<div class="row large-7">
						<div class="columns large-12 align-middle left-padding-2">
							<div class="columns large-12 no-padding title">
								<h1 class="titleWelcome">Codify</h1>
							</div>							
							<div class="columns large-12 no-padding description">
								<p>Code in real time using Python or JavaScript and work online with anyone, anywhere, anytime!</p>
							</div>						
							<div class="columns large-12 startNow">
								<button style="font-size: 1.5em;" class="hbtn hb-fill-on" onclick="location.href='login.html'" >START NOW</button>
							</div>
						</div>
					</div>

					<div class="row large-5">
						<div class="columns large-12 align-middle left-padding-2 hasFlex pyt">
							<img class="python" src="img/python.svg" alt="python">
						</div>
						<div class="columns large-12 align-middle right-padding-2 hasFlex jav">
							<img class="javascript" src="img/javascript.svg" alt="javascript">
						</div>
					</div>					
				</div>			
			</div>
		</div>	
	</section>
	
</body>
</html>